@tailwind base;
@tailwind components;
@tailwind utilities;


.card-block{
    max-width: 290px;
    height: 500px;
}
.card-block .card-body .card-image img{
    height: 250px;
    padding: 20px;
    background: #fff;
    margin: auto;
}

.card-block .card-body .card-content{
    display: flex;
    flex-direction: column;
}